:root {
  /* Color */
  --black: #000000;
  --white: #ffffff;
  --white-100: #f5f5f5;
  --grey: #666;
  --orange: #ff4b0f;
  --green: #16a34a;
  --red: #ef4444;
  --yellow: #f59e0b;
  --transparent: transparent;

  /* Font */
  --font-dm-serif: "DM Serif Display", serif;
  --font-chivo-mono: "Chivo Mono", monospace;
  --font-inter: "Inter", sans-serif;

  /* Weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Line Heights */
  --line-heights-1_15: 1.15;
  --line-heights-1_25: 1.25;
  --line-heights-1_5: 1.5;
  --line-heights-1_6: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: var(--font-inter);
  color: var(--black);
  background-color: var(--white-100);
  background-image: url(../images/dot-layer.webp);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 575px) {
  body {
    font-size: 14px;
  }
}

.body-hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-inline: 20px;
  margin-inline: auto;
}

.authentication-container {
  max-width: 546px;
}

@media (max-width: 767px) {
  .container {
    padding-inline: 16px;
  }
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-weight: 400;
}

.h1,
h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
  font-size: 40px;
  line-height: 1.5;
}

.h2,
h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
  font-size: 32px;
}
@media (max-width: 575px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 20px;
  }
}

.h3,
h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
  font-size: 28px;
}
@media (max-width: 575px) {
  .h3,
  h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
    font-size: 18px;
  }
}

.h4,
h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
  font-size: 24px;
}
@media (max-width: 575px) {
  .h4,
  h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
    font-size: 16px;
  }
}

.h5,
h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
  font-size: 20px;
}

.h6,
h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  display: block;
}

ul,
ol {
  list-style-type: none;
}

button {
  display: block;
  background-color: var(--transparent);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  background-color: var(--transparent);
  color: inherit;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: var(--);
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.min-w-0 {
  min-width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field:focus {
  outline: none;
  border-color: var(--);
}

select[required].nice-select-search ~ .nice-select,
select[required] {
  display: block !important;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

.primary-btn {
  font-size: 14px;
  font-weight: 600;
  border: 1px solid var(--black);
  border-radius: 6px;
  text-align: center;
  padding: 4px 6px;
}
