.main-wrapper {
  width: 100%;
  max-width: 670px;
  border-radius: 26px;
  box-shadow:
    0 1px 2px 0 var(--black-73),
    0 0 0 1px var(--black-73);
  background-color: var(--white);
  padding: 40px;
}

.main-wrapper .active {
  display: flex;
}

.future-step-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.future-step-stack {
  display: flex;
  align-items: center;
}

.future-step-stack.active :is(.future-step-block, .future-step-bar) {
  color: var(--white);
  background-color: var(--orange);
  border-color: var(--orange);
  cursor: pointer;
}

.future-step-stack:not(:first-child) {
  width: 100%;
}

.future-step-bar {
  width: 100%;
  height: 2px;
  background-color: var(--grey-100);
  transition: all 0.3s ease-in-out;
}

.future-step-block {
  width: 32px;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black-73);
  border-radius: 100%;
  color: var(--grey-70);
  background-color: var(--black-73);
  transition: all 0.3s ease-in-out;
}

.future-step-checkmark {
  width: 66%;
}

.future-step-num,
.future-step-checkmark {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.future-step-num,
.future-step-stack.completed .future-step-checkmark {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.future-step-checkmark,
.future-step-stack.completed .future-step-num {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}

.form-step-wrapper {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.form-step {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 38px;
}

.form-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-description {
  color: var(--grey);
}

.form-step-field,
.vertical-field-stack {
  display: grid;
  gap: 20px;
}

.form-step-field {
  grid-template-columns: repeat(2, 1fr);
}

.vertical-field-stack {
  grid-template-columns: repeat(1, 1fr);
}

.input-stack {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gender-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gender-stack {
  display: flex;
  align-items: center;
  gap: 6px;
}

.form-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.textarea-field {
  min-height: 120px;
  resize: none;
}

.employment-status-option {
  display: none;
}

.employment-status-option.active {
  display: grid;
}

.input-field[type="file"] {
  display: none;
}

.document-input-field {
  position: relative;
  padding-right: 40px;
}

.document-input-field::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-upload preview-icon"><path d="M12 3v12"/><path d="m17 8-5-5-5 5"/><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/></svg>');
  height: 18px;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.review-table-block {
  padding-inline: 16px;
}

.table-title {
  margin-bottom: 12px;
}

.review-table-layer {
  overflow: auto;
  border-radius: 16px;
  border: 1px solid var(--black-73);
}

.review-table {
  width: 100%;
  min-width: 400px;
  border-collapse: collapse;
}

.review-thead th {
  white-space: nowrap;
  text-align: start;
  font-weight: 600;
}

.review-thead tr {
  background-color: var(--black-73);
}

.review-tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--black-73);
}

.review-thead th,
.review-tbody td {
  padding: 5px 16px;
}

.table-value-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.table-value-btn-stack {
  display: flex;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
}

.table-value-btn {
  width: 18px;
  color: var(--grey);
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.table-value-btn:hover {
  opacity: 1;
}

.table-value-icon {
  width: 100%;
}

.btn-hide {
  display: none;
}

/* ----- Confirmation Message ----- */
.confirmation-message {
  display: none;
  gap: 28px;
  text-align: center;
}

.confirmation-message,
.confirmation-content {
  flex-direction: column;
  align-items: center;
}

.lottie-container {
  width: 250px;
}

.confirmation-content {
  display: flex;
  gap: 14px;
}
