.main-wrapper {
  width: 100%;
  max-width: 670px;
  border-radius: 26px;
  box-shadow:
    0 1px 2px 0 var(--black-73),
    0 0 0 1px var(--black-73);
  background-color: var(--white);
  padding: 40px;
}

.form-step-wrapper {
  /* display: none; */
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.form-step {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 38px;
}

.form-step.active {
  display: flex;
  animation: formShow 0.32s cubic-bezier(0.22, 0.68, 0, 1.2) both;
}

@keyframes formShow {
  0% {
    opacity: 0;
    /* transform: translateX(20px); */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.form-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-description {
  color: var(--grey);
}

.form-step-field,
.vertical-field-stack {
  display: grid;
  gap: 20px;
}

.form-step-field {
  grid-template-columns: repeat(2, 1fr);
}

.vertical-field-stack {
  grid-template-columns: repeat(1, 1fr);
}

.input-stack {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gender-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gender-stack {
  display: flex;
  align-items: center;
  gap: 6px;
}

.form-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.textarea-field {
  min-height: 120px;
  resize: none;
}

.employment-status-option {
  display: none;
}

.employment-status-option.active {
  display: grid;
}

.input-field[type="file"] {
  display: none;
}

.document-input-field {
  position: relative;
  padding-right: 40px;
}

.document-input-field::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-upload preview-icon"><path d="M12 3v12"/><path d="m17 8-5-5-5 5"/><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/></svg>');
  height: 18px;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.review-table-block {
  padding-inline: 16px;
}

.table-title {
  margin-bottom: 12px;
}

.review-table-layer {
  overflow: auto;
  border-radius: 16px;
  border: 1px solid var(--black-73);
}

.review-table {
  width: 100%;
  min-width: 400px;
  border-collapse: collapse;
}

.review-thead th {
  white-space: nowrap;
  text-align: start;
  font-weight: 600;
}

.review-thead tr {
  background-color: var(--black-73);
}

.review-tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--black-73);
}

.review-thead th,
.review-tbody td {
  padding: 5px 16px;
}

.table-value-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.table-value-btn-stack {
  display: flex;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
}

.table-value-btn {
  width: 18px;
  color: var(--grey);
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.table-value-btn:hover {
  opacity: 1;
}

.table-value-icon {
  width: 100%;
}

.btn-hide {
  display: none;
}

/* ----- Confirmation Message ----- */

.confirmation-message {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  align-items: center;
}
